# Dependency directory
node_modules

# Ignore built ts files
__tests__/runner/*
lib/**/*

# temp folder
tmp/*

# default installation folder of this action
third-party/

# OS metadata
.DS_Store
Thumbs.db

coverage